{% extends "../base.html" %}
{% block css %}
    <script src="https://kit.fontawesome.com/d708101dd1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>Camp | Events</title>
{% endblock %}
{% block body %}
    <header><h2>Camp Events</h2></header>
    <section class="events">
        <div class="eventDiv">
            <div class="eventImg">
                <a href="pages/eventdetail.html">
                    <img src="images/tmc1.png" alt="">
                </a>
            </div>
            <div class="avatar"><i class="fas fa-user"></i></div>
            <div class="eventTxt">
                <h3>Event Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ipsam pariatur facere modi quisquam placeat autem quas cupiditate, non voluptas distinctio nam facilis veritatis eum, dolorum eaque perferendis soluta alias vel nisi dicta! Iusto dolorem omnis, magnam eligendi autem, quam vel deleniti corporis fuga, quod dolor hic cupiditate nulla excepturi! Corporis dicta omnis praesentium facere nesciunt corrupti ratione? Labore, ad.</p>
                <div class="detail">
                    <a href="pages/eventdetail.html">Click for detail <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


