/* #ff5757
#8c52ff
#ff914d
#7ed957
#38b6ff
#ffbd59
#5271ff */
* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-family: sans-serif;
    transition: .3s;
}

body {
    background: #ffffff;
}

ul {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    justify-content: space-around;
}

.sub-text {
    font-size: 30px;
    font-weight: 500;
}

.submission-bar {
    width: 80%;
}

.submission-bar ul {
    display: flex;
    justify-content: space-evenly;
}

.submission-bar ul li {
    display: inline-block;
    width: 180px;
    text-align: center;
    text-transform: capitalize;

}

#right-wrong {
    color: rgb(11, 156, 11);
    font-weight: 700;

}


.submission-bar ul:first-child {

    color: rgb(124, 124, 124);
    font-weight: 400;
    font-size: 17px;
}

.submission-bar ul:last-child {
    font-weight: 300;

}

.submission-bar hr {
    height: 2px;
    background: rgb(99, 95, 95);
    outline: none;
    border: none;
    margin: 10px 0px;
    border-radius: 100px;
}

.result-img img {
    width: 100px;
    margin: 20px 0px;
}

.result-img {
    text-align: center;
    /* height: 150px; */
    /* margin-top: -50px; */
    /* padding: 20px 0px; */
}

.result-img h2 {
    font-size: 25px;
}


.time {
    color: rgb(41, 50, 54);
    font-weight: 700;
    font-size: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 70px; */
    align-items: center;
    border: 2px solid #5271ff;
    border-radius: 2px;
    background: #002fff0c;
    /* padding: 5px 30px; */
}

.content p {

    font-size: 20px;
    font-weight: 700;
    color: rgb(24 119 242);
}

.box i {
    font-size: 25px;
    cursor: pointer;
}

.box i:hover {
    opacity: .8;
    transform: scale(1.2);
    transition: .1s;
}

.box i:first-child {
    color: #29487d;
    margin-right: 15px;
}

.box i:last-child {
    color: rgb(24 119 242);
}


.foot-opt {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.btn {
    color: #7ed957;
}

.btn i {
    font-size: 20px;
    font-weight: 100px;
    transform: scaleX(1.3) translateY(4px) scaleY(.8)
}

.btn button {
    color: #8c52ff;
    font-weight: 700;
    padding: 5px 10px;
    background: transparent;
    outline: none;
    border: 1px solid #8c52ff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.btn button::before {
    z-index: -1;
    content: '';
    display: inline-block;

    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: #8c52ff;
    transform: scaleX(0);
    transition: .3s;
    transform-origin: left;
}


.btn button:hover::before {
    transform: scaleX(1);
}

.btn button:hover {
    color: white;
    transition-delay: .1s;
}

.tmc-logo {
    z-index: -1;
    position: fixed;
    opacity: .06;
}

.tmc1 {
    transform: translateY(300px) scale(.5) rotate(45deg);
}

.tmc2 {
    transform: translateY(-100px) translateX(200px) scale(.7) rotate(-60deg);
}

.tmc3 {
    transform: translateY(300px) translateX(800px) scale(.4) rotate(30deg);
}


.tmc4 {
    transform: translateY(400px) translateX(440px) scale(.4) rotate(-35deg);
}

.tmc5 {
    transform: translateY(30px) translateX(1000px) scale(.8) rotate(64deg);
}

.tmc6 {
    transform: translateY(200px) translateX(300px) scale(.3) rotate(-90deg);
}

.tmc7 {
    transform: translateY(100px) translateX(600px) scale(.5) rotate(100deg);
}

#solution {
    /* transform: scale(1.5); */
}

.prev i {
    margin-right: 5px;
}

.next i {

    margin-left: 5px;

}

.under a::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 100%;
    background: #8c52ff;
    transform: translateY(-10px) scaleX(0);
    transition: .3s ease;
}

.under a:hover::after {
    transform: translateY(-10px) scaleX(1);
}

.ans-box {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(33, 33, 59, 0.979);
    color: white;
    border: 1px solid;
    padding: 30px;
    text-align: justify;
    display: none;

}

.ans-box button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 5px 20px !important;
    color: white !important;
    border-color: white !important;
}