@media (max-width: 1025px){
    .container {
        width: 80%;
    }
}
@media (max-width: 770px){
    .container {
        width: 90%;
    }
}
@media (max-width: 631px){
    .separate {
        flex-direction: column;
    }
    .left {
        width: 100%;
    }
    .problem-name {
        box-sizing: border-box;
    }
    .right {
        box-sizing: border-box;
        width: 100%;
    }
}
@media (max-width: 561px){
    input.search {
        width: 100px;
    }
    .subject {
        width: 150px;
    }
}
@media (max-width: 450px){
    .btn button {
        font-size: 12px;
        padding: 6px 2px;
        margin-right: 4px;
    }
    .btn {
        justify-content: flex-end;
    }
    select.dropdown {
        font-size: 12px;
        width: 93px;
    }
    .subject.btn {
        width: 50%;
    }
    .subject span {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .midle {
        width: fit-content;
        margin: auto;
    }
    .midle button {
        margin: 14px 0;
        padding: 7px 19px;
        border-radius: 3px;
    }
}
@media (max-width: 375px){
    .extra-btn.btn {
        margin-left: 20px;
    }
}