@media (max-width: 768px){
    .detailWrapper {
        width: 90%;
    }
}
@media (max-width: 450px){
    .socials i {
        font-size: 25px;
        margin-right: 1px;
    }
    .socials p {
        margin-bottom: 3px;
        font-size: 13px;
    }
    .specialTxt p {
        line-height: 1;
    }
    .detailWrapper {
        width: 99%;
    }
    .contestImg {
        height: 200px;
    }
}
@media (max-width: 375px){
    .contestImg {
        height: 150px;
    }
    .heading h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .block h3 {
        font-size: 20px;
        margin-bottom: 6px;
    }
    .block p {
        font-size: 14px;
    }
    .loginShareBtn button {
        font-size: 14px;
    }
    .howTo p {
        padding: 10px 8px;
        font-size: 12px;
    }
}