@media (max-width: 1024px){
    .contestBoxWrapper {
        width: 80%;
    }
    header.topMenu {
        width: 80%;
    }
}
@media (max-width: 768px){
    .loginBtn p {
        padding: 7px 4px;
    }
}
@media (max-width: 426px){
    .contestBoxWrapper {
        width: 95%;
    }
    .boxFoot {
        display: block;
        padding-bottom: 10px;
    }
    .loginBtn {
        margin-left: 10px;
        margin-top: 10px;
    }
    .loginBtn p {
        padding: 7px 3px;
        font-size: 13px;
    }
    .contestImg {
        height: 170px;
    }
    .tags {
        padding: 6px 9px;
        top: -33px;
    }
    header.topMenu ul li {
        padding: 10px 8px;
        font-size: 14px;
    }
    header.topMenu {
        width: fit-content;
    }
    header.topMenu ul {
        justify-content: center;
    }
    .contestBoxWrapper {
        margin: 21px auto;
    }
    header.topMenu ul li span {
        padding: 2px 4px;
        border-radius: 2px;
    }
}