@media (max-width:770px){
    input#email {
        margin: 0px 10px;
    }
    input {
        padding: 10px 5px;
        font-size: 13px;
    }
    .detailWrapper, .comment {
        width: 95%;
    }
}
@media (max-width:430px){
    #type {
        height: 200px;
    }
    .detailWrapper{
        width: 100%;
        border: none;
    }
    .txt {
        padding: 15px;
    }
    .block p {
        font-size: 16px;
    }
    input {
        font-size: 11px;
    }
    #type {
        font-size: 14px;
    }
    input[type="submit"] {
        font-size: 12px;
        margin-top: 4px;
        padding: 7px 10px;
    }
}
@media (max-width: 380px){
    input#email {
        margin: 0px 5px;
    }
    input {
        padding: 8px 2px;
        font-size: 10px;
    }
    .formElmnt {
        margin-top: 0px;
    }
}