@media (max-width: 1267px){
    section.events {
        width: 100%;
    }
    .eventDiv {
        width: 45%;
        margin: 10px;
    }
}
@media (max-width: 768px){
    .avatar i {
        font-size: 35px;
    }
    .eventTxt h3 {
        margin-bottom: 15px;
    }
    .eventTxt p {
        font-size: 15px;
        line-height: 24px;
    }
    .detail {
        margin-top: 20px;
    }
    .detail a {
        font-size: 15px;
    }
}
@media (max-width: 650px){
    .eventDiv {
        width: 100%;
    }
}
