*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: #f9f9f9;
}
header {
    width: fit-content;
    margin: auto;
    border-bottom: 2px solid;
    padding: 5px 15px;
    margin-bottom: 20px;
}

header h2 {
    font-size: 30px;
}
.eventTxt p {
    font-size: 17px;
    line-height: 27px;
}

.detail {
    margin-top: 30px;
    margin-bottom: 10px;
}

.detail a {
    font-size: 17px;
    text-decoration: none;
    color: #5271ff;
}
.eventDiv {
    width: 30%;
    overflow: hidden;
    background: white;
    /* flex-grow: 1; */
    box-shadow: 0px 0px 12px 4px #efefef;
    margin: 19px;
}

.eventImg {
    width: 100%;
    height: 230px;
    text-align: center;
    background: #dff9ff;
}

.eventImg img {
    height: 100%;
    transition: 0.3s;
}
section.events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.avatar {
    text-align: right;
    float: right;
    position: relative;
    top: -32px;
}

.avatar i {
    padding: 7px 12px;
    background: #d8d6d6;
    font-size: 50px;
    border-radius: 4px;
    margin-right: 10px;
    color: #787878;
}
.eventTxt {
    padding: 25px;
}

.eventTxt h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

/* <=== Hover ===> */
.eventDiv:hover {
    box-shadow: 0px 0px 16px 10px #e5e3e3;
}
.eventDiv:hover .eventImg img {
    transform: scale(1.04);
}
.detail a:hover {
    text-decoration: underline;
}