<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Base</title>
  <link rel="stylesheet" href="{% static 'bv5.0/css/bootstrap.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'foundation/assets/css/foundation.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'fa/css/all.css' %}">
  <link rel="stylesheet" href="{% static 'css/tab.css' %}">
  {% block css %}
  {% endblock %}
</head>

<body>

  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container container-fluid-sm container-fluid-md container-fluid-xs">
      <a class="navbar-brand" href="#">BOC</a> <span id="vl2">|</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'tmc:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'camp:camps' %}">Camps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Blog <span id="vl">|</span></a>
          </li>
          <li class="nav-item">
            {% if user.is_anonymous %}
            <a class="nav-link" id="login" href="">Login</a>
            {% else %}
            <a class="nav-link" id="logout" href=""> <span id="welcome">Welcome, {{user}} |</span>
              Logout</a>
            {% endif %}
          </li>
      </div>
    </div>
  </nav>

  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
    </script>

  {% block body %}{% endblock %}

  <script src="{% static 'jquery.js' %}"></script>
  <script src="{% static 'bv5.0/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'foundation/assets/js/foundation.js'  %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/tab.js' %}"></script>
  {% block js %}{% endblock %}
</body>

</html>